// Variables
$margin: 1080px;
$highlight: #7fac9d;
$background: #5e6973;

h2 {
	font-size: 40px;
	font-family: 'Roboto';
	color: white;
}

h3 {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Roboto';
}

a {
	color: #ccc;

	&:hover {
		color: #666;
	}
}

p.margin {
	margin-top: 20px;
}

.allCaps {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
}

.hide {
	opacity: 0;
	@include transition(opacity 0.3s ease);
}

.noPointer {
	pointer-events: none;
}

.link {
	@include animation(animateLink 5s infinite ease);
	@include transition(transform 0.3s ease);
	cursor: pointer;
}

@for $i from 1 through 10 {
	.flash#{$i} {
		@include animation(flash #{$i}s infinite linear);
	}

	.delay#{$i} {
		@include animation-delay(#{$i * 0.5}s);
	}
}

.morris-hover-row-label {
	color: white;
}

body {
	background-color: #181D20;
}

#bgGrad {
	position: absolute;
	z-index: -9999;
	width: 100%;
	background: 
	    repeating-radial-gradient(
	      circle at 50% 25%, 
	      rgba(93,104,113,0.9),
	      rgba(93,104,113,0.4)
	    );
}

.slide {
	text-align: left;
	@include box-sizing(border-box);
	padding: 10px 0;
	position: relative;

	.logoTitle {
		img {
			height: 70px;
		}

		h1 {
			position: relative;
			top: 5px;
			right: 15px;
			font-size: $h1-size-default !important;
		}

		img, h1 {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.moreMarker {
	color: white;
	font-size: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#infoPopup {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(51, 51, 51, 0.7);
	z-index: 9999;
	width: 100%;
	height: 100%; 
	@include transition(all 0.3s ease);

	.popCont {
		position: absolute;
		width: 500px;
		height: 260px;
		padding: 20px;
		top: 50%;
		left: 50%;
		margin-top: -180px;
		margin-left: -250px;
		background: white;
		text-align: center;

		h1 {
			color: #666
		}

		p {
			color: #777;
			margin: 10px 0 15px 0;
		}

		button {
			background: #7FAC9D;
			border: none;
			color: white;
			padding: 10px;
			margin-top: 5px;
		}
	}
}

#title, #questions {
	@include square(100%);
	overflow: hidden;
	text-align: center;
	position: relative;

	img {
		position: absolute;
		top: 50%;
		margin-top: -120px;
		left: 50%;
		margin-left: -310px;
	}
}

.container {
	width: $margin;
	margin: 0 auto;

	.row {
		width: 100%;
		clear: both;
		position: relative;

		@for $i from 1 through 12 {
			.col#{$i} {
				@include box-sizing(border-box);
				position: relative;
				float: left;
				width: $i * 8.333333%;
				padding: 0 10px;

				img, .inlineCont {
					display: inline-block;
					vertical-align: middle;
				}

				h1 {
					font-size: 65px;
				}

				p {
					font-size: 18px;					
				}

				&.leftBorder {
					border-left: solid $highlight 5px;
					padding: 22px 10px;
					margin: -24px 0;
				}	
			}
		}

		.header {
			border-top: solid $highlight 5px;
			margin: 20px 0;
			padding: 0;
			width: 0;
			@include transition(all 0.5s ease);
			position: relative;

			div {
				background: $highlight;
				padding: 0 5px 5px 5px;
				color: $background;
				font-family: 'Roboto';
				font-size: 18px;
				display: inline-block;
				height: 0;
				overflow: hidden;
				opacity: 0;
				@include transition(all 0.5s ease);
			}
		}
	}
}

#prologue {
	.nasaStats{
		margin-top: 60px;

		.nasa {
			text-align: center; 
			margin-left: 12%;
		}
	}
}

#problem {
	.earth {
		height: 180px;
	}

	.ground {
		height: 150px; 
		margin: 25px;
	}

	.dataText {
		text-align: center;
		padding-top: 35px;
	}

	.galaxies {
		margin-top: 15px;
	}

	.events {
		margin-top: 10px;
	}

	.arrow {
		margin-top: 20px;
	}
}

#problem2 {
	.astronomers {
		position: absolute;
		top: 50%;
		margin-top: -102px;
		left: 50%;
		margin-left: -540px;

		.guy {
			position: relative;
			bottom: 50px;
		}

		.col6 {
			margin-top: -28px;
		}

		.news {
			position: relative;
			bottom: 30px;
		}
	}
}

#problem3 {
	.questions {
		position: absolute;
		top: 50%;
		margin-top: -108px;
		left: 50%;
		margin-left: -401px;

		.people {
			display: inline-block;
			vertical-align: middle;

			.questionPerson {
				width: 46px;
				text-align: center;
				display: inline-block;
				vertical-align: middle;

				&.boost {
					position: relative;
					bottom: 30px;
				}
			}
		}

		.questionMark {
			@include animation(questionMarks 2s infinite ease);
		}

		.questionText {
			display: inline-block;
			vertical-align: middle;
			margin-left: 50px;

			h1 {
				font-size: 50px;
			}
		}
	}
}

#solution {

	.boost {
		position: relative;
		bottom: 30px;
	}

	.wave {
		margin-top: 80px;
	}

	.people {
		margin-top: 50px;
	}

	.solutionText {
		padding-top: 25px;

		p {
			width: 550px;
			display: inline-block;
			margin: 15px 30px 15px 0;
		}
	}

	.solutionImg {
		width: 100px;
		margin: 5px 5px;
	}

	.col5 {
		margin-top: 15px;
	}

	.monitor {
		margin-left: 8px;
	}

}

#product {
	.col6 {
		margin-left: 100px;
	}

	.laser1 {
		position: absolute;
		top: 218px;
		left: 77px;
	}

	.laser2 {
		position: absolute;
		top: 60px;
		left: 90px;
	}

	.laser3 {
		position: absolute;
		top: 52px;
		right: 131px;
	}

	.wave {
		position: absolute;
		top: 145px;
		right: 10px;
	}

	.pushDown {
		margin-top: 70px;
	}

	.productText {
 		margin: 35px auto;
		width: 600px;
	}
}

#product2 {
	.pushDown {
		margin-top: 40px;
	}

	.productText2 {
 		margin: 45px auto;
		width: 600px;
	}

	.wave {
		margin-left: 45px;
	}

	.productPeople {
		margin-left: 35px;
	}
}

#market {
	.need {
		margin-left: 110px;
	}

	.marketLooper1 img {
		width: 100%;
	}

	.need {
		width: auto !important;
	}
}

#revenue {
	.revImg { 
		img {
			width: 100%;
		}

		h3 {
			font-size: 20px;
		}
	}

	.comparison {
		padding: 35px 0;

		h1 {
			font-size: 40px;
		}

		p {
			margin-top: 15px;
		}

		input {
			color: #666 !important;
			text-align: right;
			width: 70px;
		}
	}
}

#risk {
	.risksRow {
		padding-top: 60px;

		p {
			margin: 10px 0;
		}
	}
}

#howMuch {
	.asking {
		position: absolute;
		top: 50%;
		margin-top: -78px;
		left: 50%;
		margin-left: -462.5px;
		width: 925px;

		h1 {
			font-size: 65px;
		}
	}
}

.supernova {
	@include transition(all 1s ease);
	width: 810px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -325px;
	margin-left: -405px;
	z-index: -9999;
}

.teampic {
	width: 75%;
	margin-top: 100px;
}

.teamRow {
	width: 80% !important;
	margin: 0 auto;
	bottom: 130px;
	padding: 10px 5px;
	background: -moz-linear-gradient(top,  rgba(51,51,51,0.6) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,rgba(51,51,51,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,0.6) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,51,51,0.6) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,51,51,0.6) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,51,51,0.6) 85%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	&.newTeam {
		width: 72% !important;
	}

	.teamColumn {
		@include box-sizing(border-box);
		border-right: 1px solid white;

		&:last-of-type {
			border: none;
		}
	}
	
	span {
		width: 95%;
		display: inline-block;
		text-align: left;

		&.teamHeader {
			font-family: 'Roboto Slab';
			font-size: 24px;
			color: white;
			font-weight: 700;
		}

		&.teamBody {
			
			p {
				font-family: 'Roboto';
				font-size: 15px;
				color: white;
				font-weight: 400;
			}

			ul {
				margin: 10px 18px 15px 18px;
				padding: 0;
			}

			ul li {
				font-family: 'Roboto';
				font-size: 12px;
				color: white;
				font-weight: 100;
			}
		}
	}

}

.timeline {
	width: 100%;
	position: relative;

	.backbone {
		width: 6px;
		height: 100%;
		background: #01c6fe;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -3px;
	}

	.entry {
		width: 500px;
		position: absolute;
	}

	.rightside {
		left: 50%;
		margin-left: -13px;

		.cont {
			position: relative;
			margin-left: 15px;

			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-right-color: rgba(51, 51, 51, 0.15);
				border-width: 12px;
				margin-top: -12px;
			}
		}
	}

	.leftside {
		right: 50%;
		margin-right: -13px;
		text-align: right;

		.cont {
			position: relative;
			margin-right: 15px;

			&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-left-color: rgba(51, 51, 51, 0.15);
				border-width: 12px;
				margin-top: -12px;
			}
		}
	}

	.point {
		width: 26px;
		height: 26px;
		@include box-sizing(border-box);
		border: 5px solid #01c6fe;
		border-radius: 50px;
		background: white;
	}

	.cont {
		width: 90%;
		background: rgba(51, 51, 51, 0.15);
		@include box-sizing(border-box);
		padding: 15px;

		span {
			color: white;

			&.headerText {
				font-weight: 700;
				font-family: 'Roboto';
				font-size: 18px;
				display: block;
				margin-bottom: 5px;
			}

			&.text {
				font-weight: 100;
				font-family: 'Roboto';
				font-size: 14px;
				display: block;
			}
		}
	}

	.point, .cont {
		display: inline-block;
		vertical-align: middle;
	}
}

// Animations

@-webkit-keyframes animateLink {
	0% {
		@include scale(1,1);
	}

	90% {
		@include scale(1,1);
	}

	95% {
		@include scale(1.04,1.04);
	}

	100% {
		@include scale(1,1);
	}
}

@-moz-keyframes animateLink {
	0% {
		@include scale(1,1);
	}

	90% {
		@include scale(1,1);
	}

	95% {
		@include scale(1.04,1.04);
	}

	100% {
		@include scale(1,1);
	}
}

@-o-keyframes animateLink {
	0% {
		@include scale(1,1);
	}

	90% {
		@include scale(1,1);
	}

	95% {
		@include scale(1.04,1.04);
	}

	100% {
		@include scale(1,1);
	}
}

@keyframes animateLink {
	0% {
		@include scale(1,1);
	}

	90% {
		@include scale(1,1);
	}

	95% {
		@include scale(1.04,1.04);
	}

	100% {
		@include scale(1,1);
	}
}

@-webkit-keyframes questionMarks {
	0% {
		@include rotate(0deg);
	}

	85% {
		@include rotate(0deg);
	}

	90% {
		@include rotate(10deg);
	}

	95% {
		@include rotate(-10deg);
	}

	100% {
		@include rotate(0deg);
	}
}

@-moz-keyframes questionMarks {
	0% {
		@include rotate(0deg);
	}

	85% {
		@include rotate(0deg);
	}

	90% {
		@include rotate(10deg);
	}

	95% {
		@include rotate(-10deg);
	}

	100% {
		@include rotate(0deg);
	}
}

@-o-keyframes questionMarks {
	0% {
		@include rotate(0deg);
	}

	85% {
		@include rotate(0deg);
	}

	90% {
		@include rotate(10deg);
	}

	95% {
		@include rotate(-10deg);
	}

	100% {
		@include rotate(0deg);
	}
}

@keyframes questionMarks {
	0% {
		@include rotate(0deg);
	}

	85% {
		@include rotate(0deg);
	}

	90% {
		@include rotate(10deg);
	}

	95% {
		@include rotate(-10deg);
	}

	100% {
		@include rotate(0deg);
	}
}

@-webkit-keyframes flash {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes flash {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes flash {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes flash {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}


































