/*********************************

	STARS

**********************************/

.starTop,
.starRight,
.starBottom,
.starLeft {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 40%;
	opacity: 0;
	background-color: white;
	@include square(5px);
	border-radius: 1000px;
}

@for $i from 1 through 16 {
	@-webkit-keyframes starTop#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,-500px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-moz-keyframes starTop#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,-500px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-o-keyframes starTop#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,-500px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@keyframes starTop#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,-500px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}
}

@for $i from 1 through 16 {
	@-webkit-keyframes starBottom#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,1000px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-moz-keyframes starBottom#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,1000px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-o-keyframes starBottom#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,1000px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@keyframes starBottom#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200 + 150 * $i + px,1000px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}
}

@for $i from 1 through 16 {
	@-webkit-keyframes starRight#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-moz-keyframes starRight#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-o-keyframes starRight#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@keyframes starRight#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}
}

@for $i from 1 through 16 {
	@-webkit-keyframes starLeft#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-moz-keyframes starLeft#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@-o-keyframes starLeft#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}

	@keyframes starLeft#{$i} {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.1;
		}

		70% {
			opacity: 0.5;
		}

		100% {
			@include translate(-1200px,-800 + 112.5 * $i + px);
			@include square(17px);
			background-color: #FFFF74;
		}
	}
}

@for $i from 1 through 16 {
	.starTop:nth-child(#{$i}) {
		@include animation(starTop#{$i} #{5 + ($i * 0.3)}s infinite cubic-bezier(1,.24,.83,.67));
		@include animation-delay(#{$i * 0.8}s)
	}
}

@for $i from 1 through 16 {
	.starBottom:nth-child(#{$i}) {
		@include animation(starBottom#{$i} #{5 + ($i * 0.3)}s infinite cubic-bezier(1,.24,.83,.67));
		@include animation-delay(#{$i * 0.8}s)
	}
}

@for $i from 1 through 16 {
	.starRight:nth-child(#{$i}) {
		@include animation(starRight#{$i} #{5 + ($i * 0.3)}s infinite cubic-bezier(1,.24,.83,.67));
		@include animation-delay(#{$i * 0.8}s)
	}
}

@for $i from 1 through 16 {
	.starLeft:nth-child(#{$i}) {
		@include animation(starLeft#{$i} #{5 + ($i * 0.3)}s infinite cubic-bezier(1,.24,.83,.67));
		@include animation-delay(#{$i * 0.8}s)
	}
}